{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="card-div">
    <div class="card shadow p-4" style="width: 24rem;">
        <h2 class="text-center mb-4 fw-bold">Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
        <p class="text-center mt-3">
            Already have an account? <a href="{% url 'login' %}">Log In</a>
        </p>
    </div>
</div>

{% endblock %}
